{{ 'section-comparison.css' | asset_url | stylesheet_tag }}

<section class="comparison">
  <div class="page-width">
    <div class="comparison__container">
      <div class="comparison__grid">
        {% for block in section.blocks %}
          <div class="comparison__item{% if block.settings.highlight %} active{% endif %}" {{ block.shopify_attributes }}>
            <h3 class="comparison__title m-h5">{{ block.settings.title }}</h3>
            <div class="comparison__bullets">
              {% if block.settings.bullet_1 != blank %}
                <p class="comparison__bullet body-sm">{{ block.settings.bullet_1 }}</p>
              {% endif %}
              {% if block.settings.bullet_2 != blank %}
                <p class="comparison__bullet body-sm">{{ block.settings.bullet_2 }}</p>
              {% endif %}
              {% if block.settings.bullet_3 != blank %}
                <p class="comparison__bullet body-sm">{{ block.settings.bullet_3 }}</p>
              {% endif %}
            </div>
            <p class="comparison__price h5">{{ block.settings.price }}</p>

            {% if block.settings.highlight %}
              <div class="comparison__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 128 128" fill="none">
                  <path d="M67.1978 3.41031L71.3756 12.793C72.6191 15.5857 76.2256 16.3523 78.4975 14.3068L86.1304 7.43456C88.3826 5.40685 91.9722 7.00506 91.9723 10.0355L91.9726 20.3063C91.9727 23.3634 94.9556 25.5306 97.8631 24.586L107.631 21.4124C110.513 20.4761 113.143 23.3961 111.91 26.1647L107.733 35.5476C106.49 38.3404 108.333 41.5335 111.373 41.8532L121.588 42.9271C124.602 43.2439 125.816 46.981 123.564 49.0088L115.932 55.8816C113.66 57.9272 114.045 61.5941 116.693 63.1227L125.587 68.2583C128.212 69.7737 127.801 73.6815 124.919 74.618L115.151 77.7922C112.243 78.737 111.104 82.2436 112.901 84.7168L118.938 93.0263C120.719 95.478 118.754 98.8809 115.74 98.5643L105.526 97.491C102.485 97.1715 100.018 99.9116 100.654 102.902L102.789 112.948C103.419 115.913 100.24 118.222 97.6154 116.707L88.7205 111.572C86.073 110.043 82.7046 111.543 82.069 114.533L79.9332 124.58C79.3031 127.544 75.4596 128.361 73.6782 125.909L67.641 117.6C65.844 115.127 62.1569 115.127 60.36 117.6L54.3227 125.909C52.5413 128.361 48.6978 127.544 48.0677 124.58L45.932 114.533C45.2963 111.543 41.928 110.043 39.2804 111.572L30.3855 116.707C27.761 118.222 24.5821 115.913 25.2121 112.948L27.3472 102.902C27.9827 99.9116 25.5155 97.1715 22.4752 97.491L12.2607 98.5643C9.24678 98.8809 7.2821 95.478 9.06329 93.0263L15.1001 84.7168C16.8969 82.2436 15.7575 78.737 12.8501 77.7922L3.0821 74.618C0.19998 73.6815 -0.21075 69.7737 2.41367 68.2583L11.3083 63.1227C13.9557 61.5941 14.3411 57.9272 12.0694 55.8816L4.43687 49.0088C2.18486 46.981 3.3991 43.2439 6.41295 42.9271L16.6275 41.8532C19.6677 41.5335 21.5113 38.3404 20.268 35.5476L16.0907 26.1647C14.8582 23.3961 17.4875 20.4761 20.3696 21.4124L30.1379 24.586C33.0453 25.5306 36.0282 23.3634 36.0283 20.3063L36.0286 10.0355C36.0287 7.00506 39.6184 5.40685 41.8705 7.43456L49.5034 14.3068C51.7753 16.3523 55.3818 15.5857 56.6253 12.793L60.8031 3.41031C62.0358 0.641876 65.9651 0.641876 67.1978 3.41031Z" fill="#FAF5F1" stroke="#46BDF0"/>
                  <path d="M33.7376 63.887L33.8558 48.8958L35.6383 49.4273L35.4505 61.2568L41.759 51.2626L43.5539 51.7873L43.3662 63.6168L49.6775 53.6131L51.4696 54.1474L43.359 66.7556L41.6532 66.2471L41.7741 54.502L35.4434 64.3956L33.7376 63.887ZM52.1499 56.1137L52.6756 54.3504L54.3814 54.859L53.8557 56.6223L52.1499 56.1137ZM48.5184 68.2939L51.6041 57.9441L53.3099 58.4527L50.2242 68.8025L48.5184 68.2939ZM60.1815 71.7713L61.7272 66.5868C61.8739 66.0948 61.9701 65.6087 62.0159 65.1285C62.0681 64.6501 62.0389 64.1997 61.9284 63.7771C61.8261 63.3501 61.6244 62.9769 61.3231 62.6575C61.0281 62.34 60.606 62.0993 60.0565 61.9355C59.6285 61.8079 59.2169 61.7652 58.8217 61.8074C58.4348 61.8451 58.0729 61.9737 57.7362 62.1933C57.3994 62.4129 57.094 62.7253 56.8202 63.1307C56.5546 63.5315 56.3322 64.0322 56.1532 64.6327L55.1348 63.9534C55.4339 62.9504 55.8689 62.1444 56.4401 61.5356C57.0195 60.9222 57.6921 60.521 58.4581 60.332C59.2323 60.1385 60.0634 60.1741 60.9515 60.4388C61.6223 60.6388 62.1627 60.9147 62.5726 61.2665C62.9825 61.6183 63.2916 62.0166 63.4999 62.4613C63.7101 62.8996 63.8398 63.3627 63.8892 63.8504C63.9404 64.3318 63.9345 64.8066 63.8715 65.2747C63.8167 65.7384 63.7303 66.1683 63.6122 66.5644L61.9064 72.2856L60.1815 71.7713ZM52.8025 69.5712L55.8882 59.2214L57.4216 59.6786L56.5958 62.4481L56.7875 62.5052L54.5274 70.0855L52.8025 69.5712ZM71.4798 75.1399L73.0256 69.9554C73.1723 69.4635 73.2685 68.9773 73.3143 68.4971C73.3665 68.0187 73.3373 67.5683 73.2267 67.1457C73.1245 66.7187 72.9227 66.3455 72.6214 66.0261C72.3265 65.7086 71.9043 65.4679 71.3549 65.3041C70.9268 65.1765 70.5152 65.1338 70.12 65.176C69.7331 65.2137 69.3713 65.3423 69.0345 65.5619C68.6977 65.7815 68.3924 66.0939 68.1185 66.4993C67.8529 66.9001 67.6306 67.4008 67.4515 68.0013L66.4332 67.322C66.7322 66.319 67.1673 65.513 67.7384 64.9042C68.3178 64.2908 68.9905 63.8896 69.7564 63.7006C70.5307 63.5071 71.3618 63.5427 72.2498 63.8074C72.9207 64.0075 73.461 64.2833 73.8709 64.6351C74.2808 64.9869 74.5899 65.3852 74.7982 65.8299C75.0084 66.2682 75.1382 66.7313 75.1875 67.219C75.2388 67.7004 75.2329 68.1752 75.1698 68.6433C75.1151 69.107 75.0286 69.5369 74.9106 69.933L73.2048 75.6542L71.4798 75.1399ZM64.1008 72.9398L67.1866 62.59L68.7199 63.0472L67.8942 65.8167L68.0858 65.8738L65.8258 73.4541L64.1008 72.9398ZM79.7144 77.908C78.6986 77.6052 77.8772 77.1168 77.2503 76.4429C76.6316 75.7645 76.2315 74.96 76.0498 74.0293C75.8701 73.0922 75.9412 72.0838 76.2631 71.0041C76.6002 69.8733 77.0993 68.9577 77.7603 68.2574C78.4232 67.5507 79.1919 67.0842 80.0663 66.8579C80.949 66.6272 81.8919 66.6614 82.8949 66.9604C83.9363 67.2709 84.7497 67.7743 85.3352 68.4706C85.927 69.1688 86.2726 70.0162 86.372 71.0128C86.4778 72.0113 86.3223 73.1163 85.9054 74.3277L84.1805 73.8134L84.3633 73.2001C84.7232 71.923 84.7473 70.8971 84.4357 70.1225C84.1259 69.3414 83.4791 68.8042 82.4953 68.5109C81.4411 68.1966 80.5384 68.2961 79.787 68.8095C79.0357 69.3229 78.4714 70.2121 78.0943 71.4771C77.7305 72.6973 77.7233 73.7247 78.0727 74.5594C78.4221 75.394 79.1048 75.9628 80.1206 76.2656C80.8042 76.4694 81.445 76.4901 82.043 76.3275C82.6411 76.1649 83.1715 75.8326 83.6342 75.3306L85.1044 76.3846C84.4295 77.1781 83.6111 77.7063 82.6493 77.9691C81.6957 78.2275 80.7174 78.2071 79.7144 77.908ZM77.3764 71.7848L77.785 70.4144L85.4324 72.6944L85.0238 74.0648L77.3764 71.7848ZM86.3515 79.5738L89.4373 69.2241L90.961 69.6784L90.2153 72.1796L90.0633 71.7794C90.2799 71.4962 90.524 71.249 90.7957 71.0378C91.0737 70.8285 91.3599 70.6738 91.6541 70.5737C91.9872 70.4365 92.3402 70.3609 92.7131 70.3468C93.0859 70.3328 93.4509 70.3686 93.808 70.4542C94.167 70.5334 94.4894 70.6538 94.7751 70.8155L94.2979 72.4159C93.9687 72.2134 93.5835 72.0707 93.1421 71.9878C92.7007 71.9049 92.2579 71.9433 91.8138 72.1031C91.4111 72.2404 91.0666 72.4508 90.7804 72.7341C90.5005 73.0194 90.2664 73.3496 90.0781 73.7248C89.8916 74.0935 89.7374 74.4823 89.6155 74.8912L88.0669 80.0853L86.3515 79.5738ZM94.1722 81.9056L94.698 80.1423L96.4038 80.6509L95.878 82.4142L94.1722 81.9056ZM95.2008 78.4557L98.2866 68.1059L99.9924 68.6145L96.9066 78.9642L95.2008 78.4557Z" fill="#46BDF0"/>
                </svg>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      {% if section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}" class="image-dropdowns__button button">{{ section.settings.button_label }}</a>
      {% else %}
        <button class="image-dropdowns__button button button--secondary" data-open-quiz>{{ section.settings.button_label }}</button>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Comparison",
    "settings": [
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "checkbox",
            "id": "highlight",
            "label": "Highlight"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "bullet_1",
            "label": "Bullet 1"
          },
          {
            "type": "textarea",
            "id": "bullet_2",
            "label": "Bullet 2"
          },
          {
            "type": "textarea",
            "id": "bullet_3",
            "label": "Bullet 3"
          },
          {
            "type": "text",
            "id": "price",
            "label": "Price"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Comparison"
      }
    ]
  }
{% endschema %}