{% comment %}theme-check-disable TemplateLength{% endcomment %}
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{{ 'recharge-widget-styles.css' | asset_url | stylesheet_tag }}
{{ 'featured-product.css' | asset_url | stylesheet_tag }}

{% assign formatted_heading = section.settings.title
  | replace: '{', "<span class='stylized'>"
  | replace: '}', '</span>'
  | newline_to_br
%}

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{% assign product = section.settings.product %}
{% assign productPrice = product.price %}
{% if section.settings.discounted_price != blank and section.settings.discounted_price != 0 %}
  {% assign productPrice = section.settings.discounted_price | times:100 %}
{% endif %}

<section class="Featured_Product">
  <div class="product" id="get-started">
    <a class="skip-to-content-link button visually-hidden" href="#ProductInfo-{{ section.id }}">
      {{ 'accessibility.skip_to_product_info' | t }}
    </a>

    <div class="product__media-wrapper">
      <ul class="product__media-list list-unstyled swiper" role="list">
        <div class="swiper-wrapper">
          {% for media in product.media %}
            <li class="product__media-item swiper-slide" data-media-id="{{ section.id }}-{{ media.id }}">
              {% render 'product-media', media: media, position: forloop.index %}
            </li>
          {% endfor %}
        </div>
        <div class="product__media-pagination swiper-pagination hide-desktop"></div>
      </ul>

      <div class="product__media-thumbnails hide-mobile">
        {% for media in product.media %}
          <button
            class="product__media-thumbnail-item"
            data-media-id="{{ section.id }}-{{ media.id }}"
            data-loop-position="{{ forloop.index0 }}"
          >
            {{ media | image_url: width: 200 | image_tag }}
          </button>
        {% endfor %}
      </div>
    </div>

    <div class="product__info-wrapper">
      <div id="ProductInfo-{{ section.id }}" class="product__info-container">
        {% assign product_form_id = 'product-form-' | append: section.id %}

        <h3 class="product__title m-h4">
          {%- if section.settings.title != blank -%}
            {{ formatted_heading }}
          {%- else -%}
            {{ product.title | default: product.title }}
          {%- endif -%}
        </h3>

        <div class="no-js-hidden" id="price-{{ section.id }}" role="status">
          {% render 'main-price', product: product, use_variant: true, show_badges: true, price_class: '', custom_peice: productPrice %}
        </div>

        <div class="subscription-wrapper">

          {% comment %}
          <div class="loading-overlay__spinner">
            <svg
              aria-hidden="true"
              focusable="false"
              role="presentation"
              class="spinner"
              viewBox="0 0 66 66"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </div>
            {% form 'product', product, id: 'product-form-installment', class: 'installment visually-hidden' %}
              <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
              {{ form | payment_terms }}
            {% endform %}
          {% endcomment %}

          <product-form class="product-form" data-product-id="{{ product.id }}">
            <div class="product-form__error-message-wrapper" role="alert" hidden>
              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
              </svg>
              <span class="product-form__error-message"></span>
            </div>

            <dl class="product-info Product_Description">
              <dt class="h6">Details</dt>
              <dd class="p" data-formula-type>
                {% if section.settings.description != blank %}
                  {{ section.settings.description }}
                {% else %}
                   {{ product.description }}
                {% endif %}
              </dd>
            </dl>
                  
            <dl class="product-info">
              <dt class="h6">Includes</dt>
              {% for item in product.metafields.custom.includes.value %}
                <dd class="p">
                  <span>{% render 'icon', icon: 'checkmark' %} </span>{{ item }}
                </dd>
              {% endfor %}
            </dl>
                  
            {% form 'product',
              product,
              id: product_form_id,
              class: 'form',
              novalidate: 'novalidate',
              data-type: 'add-to-cart-form'
            %}
              <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

              {% unless product.has_only_default_variant %}
                {% assign picker_type = 'button' %}
                {% if picker_type == 'button' %}
                  <variant-radios
                    class="no-js-hidden visually-hidden"
                    data-section="{{ section.id }}"
                    data-url="{{ product.url }}"
                  >
                    {% for option in product.options_with_values %}
                      <fieldset class="js product-form__input">
                        <legend class="form__label">{{ option.name }}</legend>
                        {% for value in option.values %}
                          <input
                            type="radio"
                            id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                            name="{{ option.name }}"
                            value="{{ value | escape }}"
                            form="{{ product_form_id }}"
                            {% if option.selected_value == value %}
                              checked
                            {% endif %}
                          >
                          <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                            {{ value }}
                          </label>
                        {% endfor %}
                      </fieldset>
                    {% endfor %}
                    <script type="application/json">
                      {{ product.variants | json }}
                    </script>
                  </variant-radios>
                {% else %}
                  <variant-selects class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}">
                    {% for option in product.options_with_values %}
                      <div class="product-form__input product-form__input--dropdown">
                        <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                          {{ option.name }}
                        </label>
                        <div class="select">
                          <select
                            id="Option-{{ section.id }}-{{ forloop.index0 }}"
                            class="select__select"
                            name="options[{{ option.name | escape }}]"
                            form="{{ product_form_id }}"
                          >
                            {% for value in option.values %}
                              <option
                                value="{{ value | escape }}"
                                {% if option.selected_value == value %}
                                  selected="selected"
                                {% endif %}
                              >
                                {{ value }}
                              </option>
                            {% endfor %}
                          </select>
                          {% render 'icon', icon: 'caret' %}
                        </div>
                      </div>
                    {% endfor %}

                    <script type="application/json">
                      {{ product.variants | json }}
                    </script>
                  </variant-selects>
                {% endif %}
              {% endunless %}

              <noscript class="product-form__noscript-wrapper-{{ section.id }}">
                <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                  <label class="form__label" for="Variants-{{ section.id }}">
                    {{- 'products.product.product_variants' | t -}}
                  </label>
                  <div class="select">
                    <select
                      name="id"
                      id="Variants-{{ section.id }}"
                      class="select__select"
                      form="{{ product_form_id }}"
                    >
                      {% for variant in product.variants %}
                        <option
                          {% if variant == product.selected_or_first_available_variant %}
                            selected="selected"
                          {% endif %}
                          {% if variant.available == false %}
                            disabled
                          {% endif %}
                          value="{{ variant.id }}"
                        >
                          {{ variant.title }}
                          {% if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                          - {{ variant.price | money | strip_html }}
                        </option>
                      {% endfor %}
                    </select>
                    {% render 'icon', icon: 'caret' %}
                  </div>
                </div>
              </noscript>

              <div class="product-form__input product-form__quantity visually-hidden">
                <label class="form__label" for="Quantity-{{ section.id }}">
                  {{ 'products.product.quantity.label' | t }}
                </label>
                <quantity-input class="quantity">
                  <button class="quantity__button no-js-hidden" name="minus" type="button">
                    <span class="visually-hidden">
                      {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                    </span>
                    {% render 'icon', icon: 'minus' %}
                  </button>
                  <input
                    class="quantity__input"
                    type="number"
                    name="quantity"
                    id="Quantity-{{ section.id }}"
                    min="1"
                    value="1"
                    form="{{ product_form_id }}"
                  >
                  <button class="quantity__button no-js-hidden" name="plus" type="button">
                    <span class="visually-hidden">
                      {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                    </span>
                    {% render 'icon', icon: 'plus' %}
                  </button>
                </quantity-input>
              </div>

              {% if section.settings.discount_code != blank and section.settings.discount_text != blank %}
                <div class="discount--wrapper">
                  <div class="discount-input--wrapper">
                    <p class="discount-code">{{ section.settings.discount_code }}</p>
                    <p class="discount-text">{{ section.settings.discount_text }}</p>
                  </div>
                  <p class="disacount-apply-text hide-mobile">Discount Applied!</p>
                </div>
              {% endif %}
              <div class="product-form__buttons">
                <button
                  {% comment %}
                  type="submit"
                  name="add"
                  {% endcomment %}
                  class=" button button--full {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                  {% if product.selected_or_first_available_variant.available == false %}
                    disabled
                  {% endif %}
                  {% if section.settings.discount_code != blank %}
                    data-dsicount-code="{{ section.settings.discount_code }}"
                  {% endif %}
                  data-open-quiz
                >
                  <span>
                    {% if product.selected_or_first_available_variant.available %}
                      {{ section.settings.atc }} — {{ productPrice | money }}
                    {% else %}
                      {{ 'products.product.sold_out' | t }}
                    {% endif %}
                  </span>
                  <div class="loading-overlay__spinner hidden">
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      role="presentation"
                      class="spinner"
                      viewBox="0 0 66 66"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                    </svg> 
                  </div>
                </button>
                {% if block.settings.show_dynamic_checkout %}
                  {{ form | payment_button }}
                {% endif %}

                <p class="disacount-apply-text hide-desktop">Discount Applied!</p>
              </div>
            {% endform %}

            <div class="visually-hidden subscription-details__wrapper">
              <div class="subscription-details">
                <dl class="m-body-xs">
                  <dt>Personalized Whitening Kit</dt>
                  <dd>1-2 Months Supply</dd>
                </dl>
                <dl class="m-body-xs">
                  <dt>Recurring Cost</dt>
                  <dd>$19.00</dd>
                </dl>
              </div>
            </div>
          </product-form>
        </div>

        {% comment %}
          {% if product.description != blank %}
            <div class="product__description rte">
              {{ product.description }}
            </div>
          {% endif %}
        {% endcomment %}

        {% if section.settings.how_to_use != blank %}
          <div class="product__how-to-use product__accordion">
            <button class="product__accordion-button p">
              How To Use <span class="accordion-toggle">{% render 'icon', icon: 'accordion' %}</span>
            </button>
            <div class="product__accordion--inner">
              <p>
                {{ section.settings.how_to_use }}
              </p>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% javascript %}
  // Main product slider
  const productSlider = new Swiper('.product__media-list', {
    slidesPerView: 1,
    autoplay: {
      delay: 4000,
    },
    loop: false,
    pagination: {
      el: '.product__media-pagination',
    },
  });

  const productSliderThumbnails = document.querySelectorAll('.product__media-thumbnail-item');

  productSliderThumbnails.forEach((thumbnail) => {
    thumbnail.addEventListener('click', function (e) {
      e.preventDefault();
      console.log(e.target.dataset.loopPosition);
      productSlider.slideTo(e.target.dataset.loopPosition);
    });
  });

  const accordionItems = document.querySelectorAll('.product__accordion-button');
  accordionItems.forEach((accordion) => {
    accordion.addEventListener('click', (event) => {
      const parent = accordion.parentElement;
      const content = accordion.nextElementSibling;

      if (parent.classList.contains('active')) {
        parent.classList.remove('active');
        slideUp(content, 400);
      } else {
        parent.classList.add('active');
        slideDown(content, 400);
      }
    });
  });
{% endjavascript %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return msie > 0 || trident > 0;
    }

    if (!isIE()) return;
    const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
    const noScriptInputWrapper = document.createElement('div');
    const variantSwitcher =
      document.querySelector('variant-radios[data-section="{{ section.id }}"]') ||
      document.querySelector('variant-selects[data-section="{{ section.id }}"]');
    noScriptInputWrapper.innerHTML = document.querySelector(
      '.product-form__noscript-wrapper-{{ section.id }}'
    ).textContent;
    variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

    document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function (event) {
      hiddenInput.value = event.currentTarget.value;
    });
  });
</script>


<script>
  function getCookie(cname) {
    // const value = `; ${document.cookie}`;
    // const parts = value.split(`; ${name}=`);
    // if (parts.length === 2) return parts.pop().split(';').shift();

    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(';');
    for(let i = 0; i <ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return null;
  }

  function getSubPrice() {
      const cookies = ['redirect_ut', 'redirect_ut_direct', 'shareasaleShopifySSCID', 'redirect_paceline', 'redirect_sweatcoin', 'redirect_miles', 'redirect_studentbeans']
  
      let subscriptionCookie = cookies.filter( cookieName => getCookie(cookieName) != null )
      let subPrice = ''
  
      switch(subscriptionCookie[0]) {
        case 'redirect_ut':
          subPrice = '9'
          break;
        case 'redirect_ut_direct':
          subPrice = '9'
          break
        case 'redirect_paceline':
          subPrice = '29'
          break
        case 'redirect_sweatcoin':
          subPrice = '9.95'
          break
        case 'redirect_miles':
          subPrice = '9'
          break
        case 'redirect_studentbeans':
          subPrice = '9'
          break
        default:
          subPrice = '19'
          break
      }
  
      return subPrice
  }
  subPrice = getSubPrice()
  console.log(subPrice)
  
  setTimeout(function(){
    $('.price-item--sale').first().html("$" + subPrice)
    $('.button--full').first().find('span').first().html('Start Now — $'+subPrice+'')
  }, 100);
  
  $(window).load(function(){
    $('.price-item--sale').first().html("$" + subPrice)
    $('.button--full').first().find('span').first().html('Start Now — $'+subPrice+'')
  })
  
</script>
                  
{% liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
%}

{% schema %}
{
  "name": "Featured Product",
  "tag": "section",
  "class": "product-section",
  "blocks": [],
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Product Title"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Product Description"
    },
    {
      "type": "text",
      "id": "atc",
      "label": "Add To Cart button",
      "default": "Buy Now"
    },
    {
      "type": "richtext",
      "id": "how_to_use",
      "label": "How to use",
      "info": "Connect product How To Use metafield"
    },
    {
      "type": "number",
      "id": "discounted_price",
      "label": "Discounted Price"
    },
    {
      "type": "text",
      "id": "discount_code",
      "label": "Discount Code"
    },
    {
      "type": "text",
      "id": "discount_text",
      "label": "Discount Text"
    }
    
  ],
  "presets": [
    {
      "name": "Featured Product"
    }
  ]
}
{% endschema %}
