{{ 'section-hero-landing.css' | asset_url | stylesheet_tag }}

{% assign formatted_title = section.settings.title
  | replace: '{', "<span class='stylized'>"
  | replace: '}', '</span>'
%}

{% assign formatted_sub_title = section.settings.sub_title
  | replace: '{', "<span class='stylized'>"
  | replace: '}', '</span>'
%}

<script>
  setTimeout(
  function() 
  {
    $('.Hero_Subtitle').first().find('.stylized').first().html("<sup>$</sup>9")
  }, 5000);
  
  
</script>


<div class="Landing_Hero">
  {% if section.settings.mobile_image != blank %}
    {% render 'lazy-image', image: section.settings.image, fade: true, fill: true, classes: 'hide-mobile' %}
    {% render 'lazy-image', image: section.settings.mobile_image, fade: true, fill: true, classes: 'hide-desktop' %}
  {% elsif section.settings.image != blank %}
    {% render 'lazy-image', image: section.settings.image, fade: true, fill: true %}
  {% endif %}
  <div class="page-width Hero_Inner">
    <div class="Hero_Container">
      {% if section.settings.review != blank %}
        <h5 class="Hero_Review">{% render 'icon' icon: 'review-5-star' %}<span class='stylized'>{{ section.settings.review }}</span></h5>
      {% endif %}
      <h2 class="Hero_Title">{{ formatted_title | newline_to_br }}</h2>
      {% if formatted_sub_title != blank %}
        <h5 class="Hero_Subtitle h5">{{- formatted_sub_title -}}</h5>
      {% endif %}
      {% if section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}" class="button {% if section.settings.button_style == 'secondary' %}button--secondary{% else %}button--primary{% endif %}">
          {{- section.settings.button_label -}}
        </a>
      {% else %}
        <button class="button button--secondary" data-open-quiz>{{ section.settings.button_label }}</button>
      {% endif %}
      {% if section.settings.hero_badges != blank %}
        <div class="Hero_Badges">
          <img src="{{ section.settings.hero_badges | img_url: '160x' }}">
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Hero Landing",
  "settings": [
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "review",
      "label": "Review"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Title",
      "info": "Wrap italized text in {}"
    },
    {
      "type": "textarea",
      "id": "sub_title",
      "label": "Sub Title"
    },
    {
      "type": "header",
      "content": "Badges"
    },
    {
      "type": "image_picker",
      "id": "hero_badges",
      "label": "Hero Badges"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "select",
      "id": "button_style",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        }
      ],
      "default": "secondary",
      "label": "Button Style"
    }
  ],
  "presets": [
    {
      "name": "Hero Landing"
    }
  ]
}
{% endschema %}
