{{ 'section-hero.css' | asset_url | stylesheet_tag }}

{% assign formatted_title = section.settings.title
  | replace: '{', "<span class='stylized'>"
  | replace: '}', '</span>'
%}

<div
  class="hero homepage-hero {% if section.settings.add_overlay %}add-overlay{% endif %}"
>
  {% if section.settings.video != blank %}
    {{ section.settings.video | video_tag: autoplay: true, loop: true, muted: true, controls: false }}
  {% elsif section.settings.image != blank %}
    <div class="hero__images{% if section.settings.secondary_image != blank %} hero__images--split{% endif %}">
      {% if section.settings.mobile_image != blank %}
        {% render 'lazy-image', image: section.settings.image, fade: true, classes: 'img-fill hide-mobile' %}
        {% render 'lazy-image', image: section.settings.mobile_image, fade: true, classes: 'img-fill hide-desktop' %}
      {% elsif section.settings.image != blank %}
        {% render 'lazy-image', image: section.settings.image, fade: true, fill: true %}
      {% endif %}
    </div>
  {% else %}
    <video
      playsinline="playsinline"
      autoplay="autoplay"
      loop="loop"
      muted="muted"
      preload="metadata"
      aria-label="Laughland hero"
    >
      <source src="{{'Laughland_Homepage_Lilac.mp4' | asset_url}}" type="video/mp4">
    </video>
  {% endif %}
  <div class="hero__overlay"></div>
  <div class="page-width hero__inner">
    <div class="hero__logo-container">
      <svg
        class="hero__logo show"
        width="800"
        height="200"
        viewBox="0 0 800 200"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M223.443 94.9924C211.503 115.223 200.226 126.736 193.592 126.736C190.607 126.736 187.788 124.269 195.25 105.683L215.815 55.3543H189.446L184.802 66.5385C184.802 66.5385 181.154 53.2161 165.067 53.2161C133.392 53.2161 119.295 103.709 119.295 121.308C119.295 133.15 125.597 142.854 138.035 142.854C152.629 142.854 164.072 129.203 164.072 129.203C164.072 129.203 166.228 142.854 183.476 142.854C203.708 142.854 219.795 123.94 232.731 101.571C231.404 98.4463 226.926 95.3213 223.443 94.9924ZM150.307 121.966C146.991 121.966 145 120.157 145 115.881C145 105.354 157.273 74.5977 170.374 74.5977C177.671 74.5977 177.837 83.8082 177.837 83.8082L167.057 110.124C167.057 110.124 159.429 121.966 150.307 121.966ZM308.64 94.9924C296.699 115.387 286.251 126.736 279.286 126.736C275.969 126.736 273.15 123.94 280.613 105.683L301.011 55.3543H274.642L256.897 98.9397C246.947 115.552 240.479 124.433 234.011 124.433C230.694 124.433 228.373 122.131 235.172 105.683L255.571 55.3543H229.202L210.462 101.242C198.355 131.012 209.135 142.854 224.061 142.854C234.675 142.854 243.298 136.933 250.927 128.052C252.751 138.413 260.546 142.854 269.667 142.854C288.573 142.854 305.323 123.611 317.927 101.571C316.6 98.4463 312.122 95.3213 308.64 94.9924ZM395.743 94.9924C383.969 115.387 372.857 126.571 357.268 134.466L389.773 55.3543H363.404L358.761 66.5385C358.429 65.5516 354.283 53.2161 339.026 53.2161C307.516 53.2161 293.088 103.545 293.088 121.144C293.088 133.15 299.555 142.854 311.662 142.854C323.271 142.854 332.226 131.505 332.226 131.505L327.748 142.69C324.1 144.663 313.984 148.94 308.677 151.407C299.721 155.683 289.937 163.084 289.771 174.598C289.771 184.137 296.239 192.69 310.335 192.69C330.236 192.69 340.186 176.242 346.986 159.959C348.147 156.67 350.634 150.584 350.634 150.584C370.204 141.538 387.949 131.177 405.03 101.571C403.704 98.4463 399.226 95.3213 395.743 94.9924ZM324.266 121.966C320.949 121.966 318.959 120.157 318.959 115.881C318.959 105.354 331.231 74.5977 344.333 74.5977C351.464 74.5977 351.63 83.8082 351.63 83.8082L340.85 110.124C340.85 110.124 333.387 121.966 324.266 121.966ZM302.54 172.788C302.54 169.499 305.857 166.703 309.174 164.729C313.154 162.098 316.803 160.782 321.612 157.986C315.974 172.953 310.335 176.9 306.687 176.9C304.531 176.9 302.54 175.584 302.54 172.788ZM482.804 94.9924C471.03 115.223 459.587 126.736 452.953 126.736C450.134 126.736 446.983 124.598 454.611 105.683L462.738 86.1108C466.22 77.5582 467.713 71.9661 467.713 67.5253C467.713 58.8082 462.24 53.2161 451.792 53.2161C437.032 53.2161 424.594 64.0714 424.594 64.0714L441.344 22.7885H414.975L366.881 140.716H393.25L415.639 85.9463C422.604 78.0516 430.233 74.2687 434.213 74.2687C436.866 74.2687 438.857 75.5845 438.857 77.8871C438.857 80.3542 436.203 86.2753 433.052 94.499L430.564 100.584C418.956 129.367 425.589 142.854 442.837 142.854C462.904 142.854 478.658 124.762 492.092 101.571C490.765 98.4463 486.287 95.3213 482.804 94.9924ZM522.765 94.9924C510.99 115.223 499.547 126.736 492.913 126.736C490.094 126.736 487.109 124.433 494.738 105.683L528.403 22.7885H502.035L470.027 101.242C457.921 131.012 468.535 142.854 483.626 142.854C502.698 142.854 519.282 123.775 532.052 101.571C530.725 98.4463 526.248 95.3213 522.765 94.9924ZM611.453 94.9924C599.513 115.223 588.235 126.736 581.602 126.736C578.617 126.736 575.797 124.269 583.26 105.683L603.824 55.3543H577.456L572.812 66.5385C572.812 66.5385 569.164 53.2161 553.077 53.2161C521.401 53.2161 507.305 103.709 507.305 121.308C507.305 133.15 513.607 142.854 526.045 142.854C540.639 142.854 552.082 129.203 552.082 129.203C552.082 129.203 554.238 142.854 571.485 142.854C591.718 142.854 607.805 123.94 620.74 101.571C619.414 98.4463 614.936 95.3213 611.453 94.9924ZM538.317 121.966C535 121.966 533.01 120.157 533.01 115.881C533.01 105.354 545.282 74.5977 558.384 74.5977C565.681 74.5977 565.847 83.8082 565.847 83.8082L555.067 110.124C555.067 110.124 547.438 121.966 538.317 121.966ZM698.476 94.9924C686.701 115.223 675.258 126.736 668.624 126.736C665.805 126.736 662.654 124.598 670.283 105.683L678.409 86.1108C681.891 77.5582 683.384 71.9661 683.384 67.5253C683.384 58.8082 677.911 53.2161 667.463 53.2161C653.367 53.2161 641.094 63.249 640.265 64.0714L643.748 55.3543H617.379L582.553 140.716H608.921L631.31 85.9463C638.275 78.0516 645.904 74.2687 649.884 74.2687C652.372 74.2687 654.362 75.5845 654.362 77.8871C654.362 80.3542 651.708 86.6042 648.557 94.499L646.07 100.584C634.295 129.696 641.426 142.854 658.674 142.854C678.575 142.854 694.495 124.433 707.763 101.571C706.436 98.4463 701.958 95.3213 698.476 94.9924ZM787.027 94.9924C775.087 115.223 763.81 126.736 757.176 126.736C754.357 126.736 751.206 124.433 758.834 105.683L792.666 22.7885H766.297L748.386 66.5385C748.386 66.5385 744.572 53.2161 728.817 53.2161C698.468 53.2161 682.713 103.216 682.713 121.473C682.713 132.821 689.015 142.854 701.453 142.854C716.213 142.854 727.656 129.203 727.656 129.203C727.656 129.203 729.812 142.854 747.226 142.854C767.292 142.854 783.379 123.94 796.315 101.571C794.988 98.4463 790.51 95.3213 787.027 94.9924ZM713.891 121.966C710.575 121.966 708.585 120.157 708.585 115.881C708.585 105.354 720.857 74.5977 733.958 74.5977C741.255 74.5977 741.421 83.8082 741.421 83.8082L730.641 110.124C730.641 110.124 723.179 121.966 713.891 121.966Z" fill="#FAF5F1"/>
        <path d="M24.9315 77.0237C7.83561 77.0237 0 89.9275 0 99.6386C0 108.684 6.98081 120.657 26.2136 120.657C37.041 120.657 45.3042 116.799 51.5726 110.946C64.9643 122.387 72.3726 129.304 80.778 135.556C89.4684 141.942 97.4465 146.199 106.849 146.199C116.679 146.199 128.219 141.543 138.477 132.364L125.512 118.662C118.674 124.781 112.548 128.107 106.564 128.107C102.575 128.107 99.0137 126.643 92.0329 121.588C84.767 116.001 70.5205 104.029 62.5424 97.111C66.2466 90.7256 69.3808 83.5421 71.9451 76.8906C92.6026 77.1567 107.134 71.3035 116.964 64.3859C132.778 53.4776 140.044 38.0462 140.044 25.8075C140.044 8.77996 127.364 0 114.115 0C85.0521 0 70.8054 28.8673 57.9835 58.0005C42.7397 53.7437 41.7424 42.7023 41.7424 39.6425C41.7424 27.5369 51.5726 23.6791 51.8575 23.546L41.0301 8.77996C30.3453 14.5002 22.3672 25.6745 22.3672 39.5096C22.3672 55.6061 32.6247 68.3767 51.0026 73.9641C49.2932 77.2897 47.726 80.7484 46.0164 83.9412C39.6055 79.8173 33.052 77.0237 24.9315 77.0237ZM110.268 21.0186C114.827 21.0186 116.964 23.546 116.964 28.069C116.964 32.7251 113.545 42.3031 104.142 49.8857C98.3013 54.5418 90.3232 58.3996 79.3534 59.3309C90.0384 35.6516 100.438 21.0186 110.268 21.0186ZM24.5042 104.428C20.6576 104.428 17.5233 102.299 17.5233 98.8403C17.5233 95.5147 20.2301 92.4549 24.5042 92.4549C27.6384 92.4549 31.485 94.3175 36.1862 98.1753C32.6247 102.033 28.6356 104.428 24.5042 104.428Z" fill="#FAF5F1"/>
      </svg>
    </div>

    <div class="hero__container" style="color: {{ section.settings.color }}">
      <h2 class="hero__title">{{ formatted_title | newline_to_br }}</h2>
      {% if section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}" class="button">{{ section.settings.button_label }}</a>
      {% else %}
        <button class="button" data-open-quiz>{{ section.settings.button_label }}</button>
      {% endif %}
    </div>
  </div>
</div>

{% javascript %}
  const homepageHero = document.querySelector('.hero.homepage-hero');
  homepageHero.style.height = `${window.innerHeight}px`;

  // const openQuiz = document.querySelector('[data-open-quiz]');
  // if (openQuiz) {
  //   openQuiz.addEventListener('click', function (e) {
  //     e.preventDefault();
  //     document.querySelector('.sticky-footer__button').click();
  //   });
  // }
{% endjavascript %}

{% schema %}
{
  "name": "Homepage Hero",
  "settings": [
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "checkbox",
      "id": "add_overlay",
      "label": "Add Overlay"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video",
      "info": "This will override images."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Title",
      "info": "Wrap italicized text in {}"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link",
      "info": "Leave blank to have button open quiz"
    },
    {
      "type": "header",
      "content": "Styles"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Font color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
