{{ 'section-icon-text-columns.css' | asset_url | stylesheet_tag }}

{% assign formatted_heading = section.settings.heading
  | escape
  | replace: '{', "<span class='stylized'>"
  | replace: '}', '</span>'
%}

<div class="{% if section.settings.section_padding %}Section_Padding{% endif %}">
  <div class="page-width">
    <div class="icon-text-columns__inner">
      <div class="icon-text-columns__heading-wrapper">
        <h4 class="icon-text-columns__heading m-h4">{{ formatted_heading }}</h4>
      </div>
  
      <div class="icon-text-columns__block-wrapper">
        {% for block in section.blocks %}
          <div class="icon-text-columns__item">
            <div class="icon-text-columns__icon-wrapper">
              <div class="icon-text-columns__icon">{{ block.settings.title }}</div>
            </div>
  
            <div class="icon-text-columns__text-wrapper">
              <h5 class="icon-text-columns__item-heading">{{ block.settings.heading }}</h5>
              <p class="icon-text-columns__item-text">{{ block.settings.text }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Icon Text Columns",
  "tag": "section",
  "class": "with-spacing icon-text-columns",
  "settings": [
    {
      "type": "textarea",
      "id": "heading",
      "label": "Heading",
      "info": "Wrap italic text in {}"
    },
    {
      "type": "checkbox",
      "id": "section_padding",
      "label": "Top and Bottom Padding",
      "default": false
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "name": "Text Column",
      "type": "text",
      "settings": [
        {
          "type": "textarea",
          "id": "title",
          "label": "SVG or text emoji"
        },
        {
          "type": "textarea",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Icon Text Columns"
    }
  ]
}
{% endschema %}
