<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>


{% assign formatted_title = page.title | escape
  | replace: '{', "<span class='stylized'>"
  | replace: '}', '</span>'
%}

<div class="Default_Page_Header">
  <h1 class="main-page-title page-title h0">
    {{ formatted_title }}
  </h1>
</div>

  
<div class="page-width page-width--narrow">
  <div class="rte">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "spaced-section default-page-template"
}
{% endschema %}
