<menu-drawer>
  <div class="menu-drawer" id="menu-drawer" aria-hidden="true" aria-modal="true" aria-label="Menu Drawer" role="dialog" tabindex="-1">
    <div class="menu-drawer__inner">
      <div class="menu-drawer__header">
        {% if section.settings.svg_logo != blank %}
          <div class="header__svg-logo">
            {{ section.settings.svg_logo }}
          </div>
        {% else %}
          {% if section.settings.logo != blank %}
            {% assign image_size = section.settings.logo_width | append: 'x' %}
            <img
              srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
              src="{{ section.settings.logo | img_url: image_size }}"
              loading="lazy"
              class="header__heading-logo"
              width="{{ section.settings.logo.width }}"
              height="{{ section.settings.logo.height }}"
              alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
            >
          {% else %}
            <span class="h2">{{ shop.name }}</span>
          {% endif %}
        {% endif %}
        <button class="js-close-menu menu-drawer__close">
          {% render 'icon' icon: 'close-new' %}
        </button>
      </div>
      <div class="menu-drawer__content">
        <ul class="menu-drawer__menu list-unstyled" role="list">
          {% for link in section.settings.menu.links %}
            <li>
              {% if link.links != blank %}
                <button class="menu-drawer__menu-button menu-drawer__menu-button--has-menu h4" href="{{ link.url }}">{{ link.title }} {% render 'icon' icon: 'caret' %}</button>
                <ul class="menu-drawer__secondary-menu list-unstyled" role="list">
                  {% for child_link in link.links %}
                    <li>
                      <a class="menu-drawer__secondary-menu-button body" href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% else %}
                {% if link.url == "/" and link.title == "Find Your Formula"%}
                  <button class="menu-drawer__menu-button h4" data-open-quiz>{{ link.title }}</button>
                {% else %}
                <a class="menu-drawer__menu-button h4" href="{{ link.url }}">{{ link.title }}</a>
                {% endif %}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        <ul class="Bottom_Menu menu-drawer__menu list-unstyled" role="list">
          {% for link in section.settings.bottom_menu.links %}
            <li>
              <a class="menu-drawer__menu-button body" href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</menu-drawer>

{% schema %}
  {
    "name": "Mobile Menu",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      },
      {
        "type": "link_list",
        "id": "bottom_menu",
        "label": "Menu"
      },
      {
        "type": "textarea",
        "id": "svg_logo",
        "label": "SVG Logo",
        "info": "Optional. This will override logo image picker."
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "t:sections.header.settings.logo.label"
      },
      {
        "type": "range",
        "id": "logo_width",
        "min": 50,
        "max": 250,
        "step": 10,
        "default": 150,
        "unit": "px",
        "label": "Logo Width"
      },
      {
        "type": "range",
        "id": "mobile_logo_width",
        "min": 50,
        "max": 150,
        "step": 5,
        "default": 100,
        "unit": "px",
        "label": "Mobile Logo Width"
      }
    ]
  }
{% endschema %}