{{ 'section-results-table.css' | asset_url | stylesheet_tag }}

{% assign column_blocks = section.blocks | where: 'type', 'column' %}
{% assign row_blocks = section.blocks | where: 'type', 'row' %}

{% assign formatted_heading = section.settings.heading
  | replace: '{', "<span class='stylized'>"
  | replace: '}', '</span>'
%}

<div class="page-width">
  <div class="results-table__inner">
    <div class="results-table__text">
      <h4 class="results-table__heading">
        {{ formatted_heading }}
      </h4>
      <p class="results-table__text body body-sm">
        {{ section.settings.text }}
      </p>
    </div>
    <div class="results-table__wrapper">
      <table class="results-table__table">
        <thead class="results-table__thead hide-mobile">
          <tr class="results-table__tr">
            {% for column in column_blocks %}
              <th class="body body-lg results-table__th">
                {{ column.settings.heading }}
                {% if column.settings.title %}
                  <span class="body-xs">{{ column.settings.title }}</span>
                {% endif %}
              </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody class="results-table__tbody">
          {% for row in row_blocks %}
            {% assign data = row.settings.data | split: ' | ' %}
            <tr class="results-table__tr {% if forloop.first %}active{% endif %}">
              <td class="results-table__td body body-lg body-medium-weight">
                <span class="hide-mobile">{{ row.settings.heading }}</span>
                <button data-table-button class="hide-desktop body body-lg body-medium-weight">
                  <span>{{ row.settings.heading }}</span>
                  <span class="accordion-toggle">{% render 'icon', icon: 'accordion' %}</span>
                </button>
              </td>
              <td class="results-table__td results-table__inner-table-wrapper" colspan="{{ data.size }}">
                <table class="results-table__inner-table">
                  <tr>
                    {% for col in data %}
                      <td class="results-table__td body body-sm">
                        <span class="hide-desktop">
                          {{- column_blocks[forloop.index].settings.heading }}
                          <em class="body-xs">{{ column_blocks[forloop.index].settings.title }}</em>
                        </span>
                        {% if forloop.last %}
                          {% render 'star' %}
                          <span class="body-bold-weight">{{ col }}</span>
                          {% else %}
                          <span>{{ col }}</span>
                        {% endif %}
                      </td>
                    {% endfor %}
                  </tr>
                </table>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% javascript %}
  const tableButtons = document.querySelectorAll('[data-table-button]');

  tableButtons.forEach((button) => {
    button.addEventListener('click', function (e) {
      const parent = e.target.closest('tr');
      const content = parent.querySelector('.results-table__td:last-of-type');
      const container = e.target.closest('table');

      if (parent.classList.contains('active')) {
        parent.classList.remove('active');
        slideUp(content, 400);
      } else {
        parent.classList.add('active');
        slideDown(content, 400);
      }
    });
  });
{% endjavascript %}

{% schema %}
{
  "name": "Results Table",
  "tag": "section",
  "class": "results-table with-spacing",
  "settings": [
    {
      "type": "textarea",
      "id": "heading",
      "label": "Heading",
      "info": "Wrap italic text in {}"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Subhead"
        }
      ]
    },
    {
      "type": "row",
      "name": "Row",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "header",
          "content": "Column values"
        },
        {
          "type": "textarea",
          "id": "data",
          "label": "Data",
          "info": "Separate column data with | "
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Results Table",
      "blocks": [
        {
          "type": "column",
          "settings": {
            "heading": "Time Point"
          }
        },
        {
          "type": "column",
          "settings": {
            "heading": "Before",
            "title": "(Mean)"
          }
        },
        {
          "type": "column",
          "settings": {
            "heading": "After",
            "title": "(Mean)"
          }
        },
        {
          "type": "column",
          "settings": {
            "heading": "Rate of Change"
          }
        },
        {
          "type": "column",
          "settings": {
            "heading": "p-value"
          }
        },
        {
          "type": "column",
          "settings": {
            "heading": "Analysis"
          }
        },
        {
          "type": "row",
          "settings": {
            "heading": "After 6 Days",
            "data": "9.7 | 2.5 | -74.29% | <0.001** | Significant Difference"
          }
        },
        {
          "type": "row",
          "settings": {
            "heading": "After 14 Days",
            "data": "9.7 | 1.2 | -87.27% | <0.001** | Significant Difference"
          }
        }
      ]
    }
  ]
}
{% endschema %}
