{{ 'section-tooltips.css' | asset_url | stylesheet_tag }}
<script src="https://unpkg.com/@popperjs/core@2" defer></script>
<script src="https://unpkg.com/tippy.js@6" defer></script>

<script src="{{ 'tooltips.js' | asset_url }}" async></script>

{% assign formatted_heading = section.settings.heading
  | replace: '{', "<span class='stylized'>"
  | replace: '}', '</span>'
%}

<section class="tooltips">
  <div class="tooltips__inner">
    <div class="tooltops__headers page-width">
      <h2 class="tooltips__heading m-h4">{{ formatted_heading }}</h2>
      <p class="tooltips__text">{{ section.settings.text }}</p>
      <a href="{{ section.settings.url }}" class="text-link text-link__dark">{{ section.settings.link_text }}</a>
    </div>

    <div class="tooltips__container">
      <div class="tooltips__container-content">
        <div class="tooltips__image">
          {% if section.settings.mobile_image != blank %}
            {{ section.settings.mobile_image | image_url: width: master | image_tag: class: 'hide-desktop' }}
            {{ section.settings.image | image_url: width: master | image_tag: class: 'hide-mobile' }}
          {% else %}
            {{ section.settings.image | image_url: width: master | image_tag }}
          {% endif %}
        </div>

        {% for block in section.blocks %}
          {% assign formatted_tooltip = block.settings.heading
            | replace: '{', "<span class='stylized'>"
            | replace: '}', '</span>'
          %}

          <tool-tip
            data-tooltip-content="{{ block.settings.text }}"
          >
            <div
              class="tooltip hide-mobile"
              style="bottom: {{ block.settings.vertical_tooltip }}%; left: {{ block.settings.horizontal_tooltip }}%;"
              data-vertical-start="{{ block.settings.vertical_tooltip }}"
            >
              <h4 class="tooltip__label">
                {{ formatted_tooltip }}
                <div class="tooltip__trigger">{% render 'tooltip-trigger' %}</div>
              </h4>
            </div>

            <div
              class="tooltip-mobile hide-desktop"
              style="bottom: {{ block.settings.vertical_mobile }}%; left: {{ block.settings.horizontal_mobile }}%;"
              data-vertical-start="{{ block.settings.vertical_mobile }}"
            >
              <button class="tooltip__trigger-mobile">{% render 'tooltip-trigger' %}</button>
            </div>

            <div
              class="tooltip__dot hide-mobile"
              style="bottom: {{ block.settings.vertical_arrow }}%; left: {{ block.settings.horizontal_arrow }}%;"
            ></div>

            <svg class="tooltip__line hide-mobile">
              <line></line>
            </svg>
          </tool-tip>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Tooltips",
  "settings": [
    {
      "type": "textarea",
      "id": "heading",
      "label": "Heading",
      "info": "Wrap italized text in {}"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Link"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    }
  ],
  "blocks": [
    {
      "type": "tooltip",
      "name": "Tooltip",
      "settings": [
        {
          "type": "textarea",
          "id": "heading",
          "label": "Label",
          "info": "Wrap stylized text in {}"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "header",
          "content": "Tooltip position"
        },
        {
          "type": "number",
          "id": "vertical_tooltip",
          "label": "Tooltop vertical position",
          "info": "Percentage value. 0 = bottom, 100 = top",
          "default": 50
        },
        {
          "type": "number",
          "id": "horizontal_tooltip",
          "label": "Tooltop horizontal position",
          "info": "Percentage value. 0 = left, 100 = right",
          "default": 50
        },
        {
          "type": "header",
          "content": "Arrow position"
        },
        {
          "type": "number",
          "id": "vertical_arrow",
          "label": "Arrow vertical position",
          "info": "Percentage value. 0 = bottom, 100 = top",
          "default": 50
        },
        {
          "type": "number",
          "id": "horizontal_arrow",
          "label": "Arrow horizontal position",
          "info": "Percentage value. 0 = left, 100 = right",
          "default": 50
        },
        {
          "type": "header",
          "content": "Mobile Tooltip position"
        },
        {
          "type": "number",
          "id": "vertical_mobile",
          "label": "Tooltip vertical position",
          "info": "Percentage value. 0 = bottom, 100 = top",
          "default": 50
        },
        {
          "type": "number",
          "id": "horizontal_mobile",
          "label": "Tooltip horizontal position",
          "info": "Percentage value. 0 = left, 100 = right",
          "default": 50
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tooltips"
    }
  ]
}
{% endschema %}
